<div class="block-main" [ngClass]="(received.isVideo||received.isLast) ? 'gray' : ''">
  <div class="text-container">
    <p class="topper">
      {{received.topper}}
    </p>
    <p class="input-text">
      {{received.inputText}}
    </p>
  </div>
  <div *ngIf="received.isVideo" class ="video-container">
    <video src="./assets/images/{{received.inputImgName}}" [autoplay]="true" [loop]="true"></video>
  </div>
  <div *ngIf="!received.isVideo" class="img-container">
    <img src='./assets/images/{{received.inputImgName}}'/>
  </div>
</div>
