$breakpoint-mobile: 480px;
$breakpoint-tablet: 1200px;

.main {
  width: 100%;
  aspect-ratio: 16 / 9;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(transparent 60%, black),url("../../../assets/images/img1.png");
  background-size: cover;
  max-width: 1920px;
  font-family: Pretendard, serif;
  color: #FFF;
  margin-bottom: 10rem;

  @media (max-width: $breakpoint-tablet) {
    margin-bottom: 5rem;
  }

  @media (max-width: $breakpoint-mobile) {
    margin-bottom: 2rem;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: 20rem;

  .topper {
    color: #A8A8A8;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 34px;
  }

  .header{
    width: 100%;
    text-align: center;
    font-size: 92px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  @media (max-width: $breakpoint-tablet) {
    margin-top: 10rem;
    margin-bottom: 1rem;

    .topper {
      font-size: 24px;
    }

    .header {
      font-size: 64px;
      margin-bottom: 0.5rem;
    }
  }

  @media (max-width: $breakpoint-mobile) {
    margin-top: 5rem;
    margin-bottom: 0;

    .topper {
      font-size: 12px;
    }

    .header {
      font-size: 32px;
      margin-bottom: 0.5rem;
    }
  }
}

.btn-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;

  p {
    width: 100%;
    color: #A8A8A8;
    font-size: 20px;
    text-align: center;
    font-weight: 400;
  }

  button {
    width: 298px;
    height: 73px;
    border-radius: 12px;
    //background: #FFC700;
    background: #FF5A00d0;
    color: #FFF;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    border:none;

    &:hover {
      background: #FFC700;
      transition: all 0.6s;
    }

    &:active {
      transform: translateY(5px);
      transition: 0s;
    }
  }

  @media (max-width: $breakpoint-tablet) {

    button {
      width: 200px;
      height: 60px;
      font-size: 24px;
    }
  }

  @media (max-width: $breakpoint-mobile) {

    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;

    p {
      width: fit-content;
      color: #A8A8A8;
      font-size: 12px;
      text-align: center;
      font-weight: 400;
    }

    button {
      width: 70px;
      height: 30px;
      font-size: 16px;
    }

  }
}

