$breakpoint-mobile: 480px;
$breakpoint-tablet: 1200px;

.main {
  width: 100%;
  aspect-ratio: 16 / 9;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(transparent 60%, black),url("../../../assets/images/img1.png");
  background-size: cover;
  max-width: 1920px;
  font-family: Pretendard, serif;
  color: #FFF;
  margin-bottom: 10rem;

  @media (max-width: $breakpoint-tablet) {
    margin-bottom: 5rem;
  }

  @media (max-width: $breakpoint-mobile) {
    margin-bottom: 2rem;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: 20rem;

  .topper {
    color: #A8A8A8;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 34px;
  }

  .header{
    width: 100%;
    text-align: center;
    font-size: 92px;
    font-style: normal;
    font-weight: 700;
  }

  @media (max-width: $breakpoint-tablet) {
    margin-top: 10rem;
    margin-bottom: 1rem;

    .topper {
      font-size: 24px;
    }

    .header {
      font-size: 64px;
    }
  }

  @media (max-width: $breakpoint-mobile) {
    margin-top: 5rem;

    .topper {
      font-size: 12px;
    }

    .header {
      font-size: 32px;
      margin-bottom: 0.5rem;
    }
  }
}

.btn-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;

  p {
    margin-top: 0;
    width: 100%;
    color: #A8A8A899;
    font-size: 1rem;
    text-align: center;
    font-weight: 400;
  }

  button {
    width: 15%;
    height: 2rem;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.30);
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    border:none;

    &:hover {
      background: transparent;
      border: 1px solid #FFFFFF;
      transition: all 0.6s;
    }

    &:active {
      transform: translateY(5px);
      transition: 0s;
    }
  }

  @media (max-width: $breakpoint-tablet) {

    button {
      width: 20%;
      height: 2rem;
      font-size: 1rem;
    }
  }

  @media (max-width: $breakpoint-mobile) {

    flex-wrap: wrap;
    align-items: center;

    p {
      font-size: 12px;
      text-align: center;
      font-weight: 400;
    }

    button {
      width: 20%;
      height: 1.75rem;
      font-size: 0.75rem;
    }

  }
}

