<div class="layout">
  <div class="main-container">
    <div class="hero-main">
      <div class="hero-container">
        <p class="topper">Introducing</p>
        <div class="header">
          Decode
        </div>
        <div class="hero-btn-container">
          <p>Ready to read? Scroll down for more info</p>
          <button onclick="location.href='https://forms.gle/Hx2YaLyxeNQg5bGD7'">
            Join Beta
          </button>
        </div>
      </div>
    </div>
    <app-section *ngFor="let blockInfo of blockInfoArray" [received]="blockInfo"></app-section>
    <div class="button-container">
      <button onclick="location.href='https://forms.gle/Hx2YaLyxeNQg5bGD7'">
        <span>Register your journey today!</span>
      </button>
    </div>
    <div class="footer">
      Copyright © 2023 DECODE
    </div>
  </div>
</div>

