<div class="layout">
  <div class="main-container">
    <app-hero></app-hero>
    <app-block [received]="secondBlockInfo"></app-block>
    <app-block [received]="thirdBlockInfo"></app-block>
    <app-mobile-block *ngFor="let info of inputArray" [blockInfo]="info"></app-mobile-block>
    <app-block [received]="seventhBlockInfo"></app-block>
    <div class="button-container">
      <button onclick="location.href='https://docs.google.com/forms/d/e/1FAIpQLSeThbWsjS6XEskyVvSxetaML-ka8eUo4xFO_n_Xv6Ekc13VFA/viewform'">Start your journey today!</button>
    </div>
    <div class="footer">
      Copyright © 2023 DECODE
    </div>
  </div>
</div>

