<div *ngIf="blockInfo.isMiddle" class="mobile-block-main gray">
  <div class="img-container img-right">
    <img src="./assets/images/{{blockInfo.inputImgName}}"/>
  </div>
  <div class="text-container">
    <p class="topper right"> {{blockInfo.topper}} </p>
    <p class="input-text right"> {{blockInfo.inputText}} </p>
  </div>
</div>

<div *ngIf="!blockInfo.isMiddle" class="mobile-block-main">
  <div class="text-container">
    <p class="topper"> {{blockInfo.topper}} </p>
    <p class="input-text"> {{blockInfo.inputText}} </p>
  </div>
  <div class="img-container">
    <img src="./assets/images/{{blockInfo.inputImgName}}"/>
  </div>
</div>


